#lists {
	display: flex;
}

.list {
    width: calc(100% - 4px);
    display: flex;
    flex-direction: column;
}

.listBox {
	position: relative;
	height: 20vw;
	overflow-y: scroll;
	color: #ffffff;
	border: 2px solid #000000;
	margin-bottom: 0px;
}

#primes {
	background-color: #00ff00;
}

#nonprimes {
	background-color: #ff0000;
}

.sLists {
    position: relative;
    height: 3vw;
    background-color: #ffffff;
	color: #000000;
	border: 2px solid #000000;
}
